:root {
    --font-size: 1.4rem;
    --aside-width: 130px;
    --gap: 3rem;
}
:root,
html[data-theme="light"] {
    --light-on: block;
    --light-off: none;
    --chord: #dfdfdf;
    --c-text: #292929;
    --c-bg1: #f9f9f9;
    --c-border: #d8d8d8;
    --c-acc1: #76b0c6;
    --c-faded: #757575;
}

html[data-theme="dark"] {
    --light-on: none;
    --light-off: block;
    --chord: #4a4a4a;
    --c-text: #ffffff;
    --c-bg1: #1f1f1f;
    --c-border: #3f3f3f;
    --c-acc1: #789da7;
    --c-faded: #878787;
}
html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
    transition: 0s !important;
    transition-delay: 0 !important;
}

*,
*::before,
*::after {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
* {
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--c-acc1) var(--c-bg1);
}
html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
button,
textarea,
select {
    font: inherit;
}
button {
    outline: none;
    border: 0;
    background: transparent;
    padding: 0;
    display: inherit;
    cursor: pointer;
    color: inherit;
}
p,
h1,
h2 {
    overflow-wrap: break-word;
}
::-moz-selection {
    background-color: var(--c-acc1);
    color: var(--c-text);
}
::selection {
    background-color: var(--c-acc1);
    color: var(--c-text);
}
.tippy-box[data-theme~="custom"] {
    font-size: 0.6em;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 6px 5px 4px 5px;
    color: var(--c-bg1);
    border: 0;
    border-radius: 10rem;
    background-color: var(--c-acc1);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 1.5rem;
    z-index: 9999999;
}

body {
    font-family: "Inter", serif;
    font-size: var(--font-size);
    color: var(--c-text);
    background-color: var(--c-bg1);
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}
a {
    color: var(--c-link);
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
        color: var(--c-text);
    }
}
.light-on {
    display: var(--light-on);
}
.light-off {
    display: var(--light-off);
}
.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
main {
    margin: 10rem auto 0 auto;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

header {
    display: flex;
    gap: var(--gap);
    align-items: center;

    img {
        width: var(--aside-width);
        object-fit: cover;
        display: block;
        border-radius: 9999px;
        height: 205px;
        overflow-clip-margin: unset;
    }
    .intro {
        font-family: "Instrument Serif", serif;
        font-size: 2.7em;
        line-height: 1.2;
    }
}
section {
    display: grid;
    align-items: flex-start;
    gap: var(--gap);
    grid-template-columns: var(--aside-width) 1fr;
}
.about svg {
    width: 19px;
    height: auto;
    vertical-align: middle;
    margin-bottom: 0.5px;
}
.socials {
    font-size: 0.7em;
    letter-spacing: 1px;
    font-family: "Roboto Mono", serif;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    a {
        color: var(--c-text);
        display: inline-flex;
        border: 1px solid var(--c-border);
        padding: 6px;
        border-radius: 1rem;

        &:hover {
            color: var(--c-faded);
        }
    }
    svg {
        width: 21px;
        height: auto;
    }
}
h2 {
    font-size: 0.8em;
    font-family: "Roboto Mono", serif;
    font-weight: 400;
    text-align: right;
    color: var(--c-faded);
    margin-top: 4px;
}

p {
    margin: 1.6rem 0;
    line-height: 1.55;
}
article p {
    &:first-of-type {
        margin-top: 0;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

article.bag {
    a {
        display: grid;
        gap: 2rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: auto 1fr auto;

        &:hover .link-title {
            color: var(--c-acc1);
        }

        .link-title {
            font-weight: 600;
            font-size: 0.94em;
            transition: all 0.2s ease;
        }
        .line {
            width: 100%;
            height: 0px;
            background: transparent;
            border-top: 1px dashed var(--c-border);
        }
        .link-sub {
            font-family: "Inter", sans-serif;
            font-size: 0.8em;
            line-height: 1.5;
            color: var(--c-faded);
        }
    }
}

/*  THEME TOGGLE */
html[data-theme="light"] button.theme-toggle .light-off,
html[data-theme="dark"] button.theme-toggle .light-on {
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease !important;
}

html[data-theme="light"] button.theme-toggle .light-on,
html[data-theme="dark"] button.theme-toggle .light-off {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease !important;
}

button.theme-toggle {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 3rem;
    right: 3rem;
    background: var(--c-text);
    color: var(--c-bg1);
    padding: 1.8rem;
    border-radius: 50%;

    svg {
        width: 22px;
        height: 22px;
        display: block;
        transform-origin: center;
        position: absolute;
        stroke-width: 1.25;
    }
}
footer {
    padding: 3rem;
    margin-top: 4rem;
    text-align: center;
    font-size: 0.7em;
    font-family: "Inter", serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--c-faded);
    font-weight: 500;
}
footer::first-letter {
    font-size: 1.45em;
    vertical-align: sub;
    font-weight: 300;
}
@media only screen and (max-width: 520px) {
    main {
        width: 80vw;
    }
    header {
        flex-direction: column;
    }
    header img {
        height: auto;
        width: 70vw;
    }
    header .intro {
        text-align: center;
    }
    section {
        display: block;

        h2 {
            text-align: left;
            margin-bottom: 2.5rem;
        }
    }
}
